.selectBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  grid-auto-rows: minmax(1rem, auto);
  margin-bottom: 4rem;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.selectBox::-webkit-scrollbar {
  display: none;
}
