.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.selectBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.timeBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
