@use "styles/variables/media";
@use "styles/variables/button";
@use "styles/variables/theme";

.round {
  position: fixed;
  bottom: 7%;
  left: 0;
  right: 0;
  max-width: 390px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: var(--content-padding) 0;

  a,
  p {
    @include button.default;
    --button-text-color: #f2f2f7;
    --button-font-weight: 600;
    --button-background: #4b72f1;
    --button-hover: #3763f2;
    --button-radius: 30px;
    --button-padding: 20px 160px;
    text-align: center;
    --border: none;
  }
}

.login {
  max-width: 390px;
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: var(--content-padding) 0;

  a,
  p {
    @include button.default;
    --button-text-color: #f2f2f7;
    --button-font-weight: 600;
    --button-background: #4b72f1;
    --button-hover: #3763f2;
    --button-padding: 20px 154px;
    text-align: center;
    --border: none;
  }
}

.normal {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  max-width: 390px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: var(--content-padding) 0;

  a,
  p {
    @include button.default;
    --button-text-color: #f2f2f7;
    --button-font-weight: 600;
    --button-background: #4b72f1;
    --button-hover: #3763f2;
    --button-radius: 30px;
    --button-padding: 20px 160px;
    text-align: center;
    --border: none;
  }
}

.shares {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  max-width: 390px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: var(--content-padding) 0;

  a,
  p {
    @include button.default;
    --button-text-color: #f2f2f7;
    --button-font-weight: 600;
    --button-background: #4b72f1;
    --button-hover: #3763f2;
    --button-radius: 0;
    --button-padding: 20px 120px;
    text-align: center;
    --border: none;
  }
}
