@use "styles/variables/placeholder" as *;

.input {
  display: inline-block;
  height: var(--icon-size);
  width: var();
}

.long {
  width: 15rem;
}

.loader {
  border-radius: 50%;

  @include placeholder;
}
