@use "styles/variables/placeholder" as animations;
@use "styles/variables/media";

.successBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
.xBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 2rem;
  p {
    cursor: pointer;
  }
}
.buttonLabel {
  position: absolute;
  width: 100%;
  bottom: 17%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.successMsgBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.successMsg {
  color: rgba(47, 78, 180, 1);
  font-size: 24px;
  font-weight: 600;
  margin: inherit;
}
