@use "styles/variables/placeholder" as animations;
@use "styles/variables/media";

.end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem 1rem 0rem;
}
.upperBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-bottom: 5rem;
  &Title {
    p {
      font-weight: 600;
      font-size: 24px;
      color: rgba(47, 78, 180, 1);
      margin: 2rem 0 0;
    }
  }
  &Sub {
    p {
      font-size: 16px;
      color: #868686;
    }
  }
}

.lowerBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 9rem;
  &Content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div:first-child {
      p {
        font-weight: 600;
        font-size: 20px;
        margin: inherit;
        margin-bottom: 1rem;
      }
    }
    div {
      p {
        font-weight: 600;
        font-size: 80px;
        margin: inherit;
      }
    }
  }
  .versus {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      font-weight: 600;
      font-size: 80px;
      margin: inherit;
    }
  }
}

.buttonBox {
  width: 100%;
  footer:first-child {
    padding: inherit;
    padding-bottom: 1rem;
  }
  footer {
    padding: inherit;
  }
}
