@use "styles/variables/media";
@use "styles/variables/placeholder" as *;

.aboutTeam {
  --profile-picture-size: 200px;
  .upperBox {
    position: relative;
    background-color: rgb(8, 24, 79);
    &Title {
      position: absolute;
      top: 0;
      margin-top: 7rem;
      margin-left: 1rem;
      width: fit-content;
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid transparent;
        margin-right: 1rem;
        padding-bottom: 0.3rem;
        color: rgba(194, 194, 194, 1);
        cursor: pointer;
      }
      .uppberBoxTitleSelected {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid #fff;
        margin-right: 1rem;
        padding-bottom: 0.3rem;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
  .top3Teams {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    justify-content: center;
    transform: rotate(-180deg);

    &Name {
      position: absolute;
      bottom: 2rem;
      width: 100%;
      text-align: center;
      font-weight: 700;
      color: #000;
      transform: rotate(-180deg);
    }
    &Profile {
      position: absolute;
      bottom: -2rem;
      left: 0;
      right: 0;
      margin: auto;
      width: 3rem;
      height: 3rem;
      border: 1px solid #fff;
      border-radius: 50%;
      object-fit: cover;
      transform: rotate(-180deg);
    }

    &Num1 {
      background: #fff;
      display: inline-block;
      height: 13vh;
      margin: 15vh 1rem 0;
      position: relative;
      width: 100px;
      border-radius: 2.5px 2.5px 0.5rem 0.5rem;
    }

    &Num1:before {
      border-bottom: 35px solid #fff;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      content: "";
      height: 0;
      left: 0;
      position: absolute;
      top: -34px;
      width: 0;
    }

    &Num2 {
      background: #fff;
      display: inline-block;
      height: 13vh;
      margin-top: 10vh;
      position: relative;
      width: 100px;
      border-radius: 2.5px 2.5px 0.5rem 0.5rem;
    }

    &Num2:before {
      border-bottom: 35px solid #fff;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      content: "";
      height: 0;
      left: 0;
      position: absolute;
      top: -34px;
      width: 0;
    }

    &Num3 {
      background: #fff;
      display: inline-block;
      height: 13vh;
      margin-top: 8vh;
      position: relative;
      width: 100px;
      border-radius: 2.5px 2.5px 0.5rem 0.5rem;
    }

    &Num3:before {
      border-bottom: 35px solid #fff;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      content: "";
      height: 0;
      left: 0;
      position: absolute;
      top: -34px;
      width: 0;
    }

    &Record {
      color: #000;
      box-sizing: border-box;
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: rotate(-180deg);
      &Img {
        position: absolute;
        bottom: -1rem;
      }
      &Score {
        position: absolute;
        top: 3.5rem;
        text-align: center;
        font-weight: 700;
      }
    }
  }
  section {
    h2 {
      font-weight: 600;
      font-size: 24px;
      color: #08184f;
      margin-bottom: 0.5rem;
    }
  }
  p {
    font-size: 20px;
  }
  article {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem 0.5rem;
      height: 1rem;
      min-width: fit-content;
      padding: 0.5rem 1.5rem;
      border: 1px solid #acacac;
      border-radius: 5rem;
      color: #08184f;
      cursor: pointer;
    }
    .active {
      background-color: #192554;
      border: 1px solid #192554;
      color: #fff;
      cursor: pointer;
    }
  }
  article::-webkit-scrollbar {
    display: none;
  }
  &Image {
    display: block;
    margin: 0 auto;
    height: 50vh;

    @include media.desktop {
      margin: 4rem 0 0;
      grid-column: 2;
      grid-row: 1 / span 2;
    }
    img {
      opacity: 0.4;
    }
  }
}

.tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0px;
  color: #08184f;
  font-size: 1rem;
  &Title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 1rem;
    &Pos {
      width: 30%;
    }
    &Team {
      width: 60%;
    }
    &Score {
      width: 10%;
    }
  }
  &Content {
    box-sizing: border-box;
    border: 1px solid #ededed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background-color: #fff;
    height: 6rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    &Pos {
      position: relative;
      display: flex;
      align-items: center;
      width: 30%;
      height: 100%;
      span {
        width: 5rem;
        height: 100%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        z-index: 1;
      }
    }
    &Team {
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      span {
        display: flex;
        align-items: center;
        margin-left: 0.5rem;
      }
    }
    &Score {
      width: 10%;
    }
  }
}
