.main {
  display: flex;
  flex-direction: column;
}
.circleBox {
  display: flex;
  div {
    width: 100%;
    margin: 0 0.5rem;
    height: 2rem;
  }
}
.circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  margin: 10px;
  cursor: pointer;
}
.active {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: yellow;
  margin: 10px;
  cursor: pointer;
}
.circletag {
  cursor: pointer;
}
.input {
  margin-top: 3rem;
  .inputBox {
    margin-bottom: 3rem;
    input {
      margin-top: 1rem;
    }
  }
}
.completeButton {
  color: #fff;
}
.disabledButton {
  div {
    background-color: rgba(233, 233, 233, 1);
    // cursor: inherit;
    pointer-events: none;
  }
}
