@use "styles/variables/media";
@use "styles/variables/placeholder" as *;

.aboutTeam {
  background-color: rgba(247, 247, 247, 1);

  &Main {
    background-color: var(--primary-block-color);
    border-radius: var(--border-radius);
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: var(--profile-picture-size) 1fr;
    padding: 2rem;
    border: 1px solid;
    @include media.mobile {
      display: flex;
      grid-template-columns: 2fr;
      justify-content: center;
    }
  }

  &Picture {
    border-radius: 50%;
    height: var(--profile-picture-size);
    margin: 0 auto;
    width: var(--profile-picture-size);
  }

  &Content {
    h1,
    h3 {
      margin: 0;
    }

    h3 {
      align-items: center;
      display: flex;
      font-size: 18px;
      font-weight: 600;
    }
  }

  &Header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid;
    @include media.mobile {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
  &Image {
    display: block;
    margin: 0 auto;
    width: fit-content;
    // opacity: 0.4;
    @include media.desktop {
      margin: 4rem 0 0;
      grid-column: 2;
      grid-row: 1 / span 2;
    }
    img {
      opacity: 0.4;
    }
  }
}

.about {
  padding: 1rem;

  h2 {
    font-size: 35px;
    font-weight: 500;
  }

  p {
    max-width: 800px;
  }
}

.rowDiv {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
}

.followers {
  display: flex;
  width: 0px;
  &Placeholder {
    color: transparent;
    margin: 0 5px 0 0;
    @include placeholder;

    &::before {
      content: "42";
    }
  }

  &Icon {
    --icon-size: 20px;

    margin: 0 10px;
  }
}

.matchHistoryContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  // margin-right: 2rem;
  &img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
  }
  &Win {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      font-weight: 400;
      font-size: 18px;
    }
  }
  &Lose {
    @extend .matchHistoryContainerWin;
  }
  &Result {
    @extend .matchHistoryContainerWin;
  }

  &Winner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 20px;
    border-radius: 21px;
    border: 1px solid #19c649;
    p {
      color: #19c649;
      font-weight: 400;
      font-size: 15px;
    }
  }

  &Loser {
    @extend .matchHistoryContainerWinner;
    border: 1px solid #c72525;
    p {
      color: #c72525;
    }
  }
}

.routes {
  display: flex;
}

.scoreBoard {
  box-sizing: border-box;
  // position: absolute;
  // top: 40vh;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  width: 90%;
  padding: 1rem;
  margin: auto;

  &ContentName {
    margin-bottom: 0.3rem;
    p {
      font-weight: 500;
      font-size: 12px;
      color: #868686;
      margin: inherit;
    }
  }

  &Detail {
    display: flex;
    width: 100%;

    &Box {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: flex-start;
      margin: 2%;
      padding-left: 1rem;
      &Content {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        &Total {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #000;
          color: #000;
          width: 1rem;
          height: 1rem;
          margin-right: 0.3rem;
          border-radius: 0.2rem;
        }
        &Win {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid rgba(0, 198, 103, 1);
          color: rgba(0, 198, 103, 1);
          width: 1rem;
          height: 1rem;
          margin-right: 0.3rem;
          border-radius: 0.2rem;
        }
        &Draw {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid rgba(155, 155, 155, 1);
          color: rgba(155, 155, 155, 1);
          width: 1rem;
          height: 1rem;
          margin-right: 0.3rem;
          border-radius: 0.2rem;
        }
        &Lose {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid rgba(241, 75, 75, 1);
          color: rgba(241, 75, 75, 1);
          width: 1rem;
          height: 1rem;
          border-radius: 0.2rem;
        }
      }
      P {
        margin: inherit;
        margin-right: 1rem;
      }
      strong {
        font-weight: 600;
        font-size: 24px;
      }
    }
  }
}

.matchInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  h3 {
    font-size: 18px;
    font-weight: 700;
    margin-block-start: 1em;
    // margin-block-end: 1em;
  }
  &Container {
    display: flex;
    // justify-content: center;
    align-items: center;
    padding: 1rem;

    h4 {
      font-size: 14px;
      font-weight: 400;
      color: #868686;
      margin: inherit;
      margin-right: 3rem;
    }

    h5 {
      font-size: 14px;
      font-weight: 400;
      margin: inherit;
      color: #000;
    }

    &Icon {
      --icon-size: 20px;
      margin-right: 0.5rem;
      path {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.tabs {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  justify-content: space-between;
  padding: 1rem 0px;
  p {
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0 0.5rem 1rem;
  }
  &Icon {
    --icon-size: 20px;
    margin: 1rem;
  }
}
