@use "styles/variables/media";
@use "styles/variables/placeholder" as *;

.aboutTeam {
  --profile-picture-size: 200px;

  p {
    font-size: 20px;
  }

  &Main {
    background-color: var(--primary-block-color);
    border-radius: var(--border-radius);
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: var(--profile-picture-size) 1fr;
    padding: 2rem;
    border: 1px solid;
    @include media.mobile {
      grid-template-columns: 2fr;
    }
  }

  &Picture {
    border-radius: 50%;
    height: var(--profile-picture-size);
    margin: 0 auto;
    width: var(--profile-picture-size);
  }

  &Content {
    h1,
    h3 {
      margin: 0;
    }

    h3 {
      align-items: center;
      display: flex;
      font-size: 18px;
      font-weight: 600;
    }
  }

  &Header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid;
    @include media.mobile {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
  &Image {
    display: block;
    margin: 0 auto;
    width: fit-content;
    // opacity: 0.4;

    @include media.desktop {
      margin: 4rem 0 0;
      grid-column: 2;
      grid-row: 1 / span 2;
    }
    img {
      opacity: 0.4;
    }
  }
}

.about {
  padding: 1rem;

  h2 {
    font-size: 35px;
    font-weight: 500;
  }

  p {
    max-width: 800px;
  }
}

.rowDiv {
  display: flex;
  width: 95%;
}

.followers {
  display: flex;
  width: 0px;
  &Placeholder {
    color: transparent;
    margin: 0 5px 0 0;
    @include placeholder;

    &::before {
      content: "42";
    }
  }

  &Icon {
    --icon-size: 20px;

    margin: 0 10px;
  }
}

.matchHistoryContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;

  &img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
  }
  &Win {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &Lose {
  }
  &Result {
  }

  &WinOrLose {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1px 11px;
    gap: 10px;
    width: 43px;
    height: 20px;

    border-radius: 21px;
    border: 1px solid if (win, #19c649, #c72525);
    p {
      color: if (win, #19c649, #c72525);
    }
  }
}

.routes {
  display: flex;
}

.scoreBoard {
  display: flex;
  flex-direction: column;

  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  width: 95%;
  height: fit-content;

  margin-bottom: 2rem;

  &ContentName {
    display: flex;
    justify-content: space-around;
    width: 100%;
    h5 {
      font-size: 18px;
      color: #ababab;
      margin-block-start: 1em;
      margin-block-end: 0em;
    }
  }

  &Detail {
    display: flex;
    width: 100%;

    &Box {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin: 2%;

      p:first-child {
        font-size: 24px;
        font-weight: 600;
        margin-block-start: 0em;
        margin-block-end: 0em;
      }
      p {
        font-size: 18px;
        font-weight: 500;
        margin-block-start: 1em;
        margin-block-end: 1em;
      }
      ::before {
        border-right: 1px solid;
      }
    }
  }
}

.matchInfo {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  h3 {
    font-size: 18px;
    font-weight: 700;
    margin-block-start: 1em;
    // margin-block-end: 1em;
  }
  &Container {
    display: flex;
    // justify-content: center;
    align-items: center;

    h4 {
      font-size: 18px;
      font-weight: 500;
      color: #868686;
      margin-right: 3rem;
    }

    h5 {
      font-size: 18px;
      font-weight: 500;
    }

    &Icon {
      --icon-size: 20px;

      margin: 1.5rem;
    }
  }
}
