.container {
  h2 {
    margin-bottom: 3rem;
  }
}

.textBox {
  max-width: 390px;
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  padding: 4px 0;
  margin-bottom: 52px;
  font-size: 8px;
}
.profileBox {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.filebox {
}
.filebox label {
  display: flex;
  width: 5rem;
  height: 5rem;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: rgba(134, 134, 134, 1);
  line-height: normal;
  vertical-align: middle;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid rgba(233, 233, 233, 1);
  border-radius: 0.25em;
}

.filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.image {
  position: relative;
  img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
  }
}
.close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.footerBox {
  color: #fff;
  position: absolute;
  bottom: 5rem;
  left: 0;
  right: 0;
}
