.question {
  padding: 2rem 1rem;
  background-color: var(--primary-background-color);
  h1 {
    color: #fff;
  }
  p {
    color: #fff;
  }
  &Box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    p {
      color: #183db5;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: var(--content-max-width);
  padding: calc(var(--header-height) + var(--content-padding))
    var(--content-padding) var(--content-padding) var(--content-padding);
}
