@use "styles/variables/media";
@use "styles/variables/theme";

.header {
  --primary-text-color: #f2f2f7;
  --header-color: var(--primary-block-color);
  color: var(--primary-text-color);
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-flow: column;
  height: var(--header-navigation-height);
  left: 0;
  padding: calc(env(safe-area-inset-top) + 3vw) 0 0;
  position: fixed;
  top: 0;
  width: 100vw;
  max-width: 767px;
  min-width: 375px;
  z-index: 10;
  background-color: #fff;

  @include media.after-mobile {
    border-radius: calc(var(--header-navigation-height) / 2);
    box-sizing: border-box;
    left: 50%;
    margin: 0 auto;
    max-width: 768px;
    padding: 0 var(--content-padding);

    top: calc(var(--header-spacing) / 2 + var(--offline-notification-height));
    transform: translateX(-50%);
    width: calc(100vw - var(--content-padding) * 2);

    @include theme.dark-mode {
      --header-color: rgba(44, 44, 46, 0.8);
    }
  }

  nav {
    box-sizing: border-box;
    height: var(--header-navigation-height);
    margin: 0 auto;
    max-width: var(--content-max-width);
    padding: 0 var(--content-padding);
    width: 100%;
    max-width: 768px;

    @include media.after-mobile {
      backdrop-filter: saturate(200%) blur(10px);
      display: grid;
      grid-column-gap: 50px;
      grid-template-columns: 1fr 1fr;
    }
  }

  &Controls {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}

.ActiveHeader {
  --primary-text-color: #f2f2f7;
  --header-color: var(--primary-block-color);
  color: var(--primary-text-color);
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-flow: column;
  height: var(--header-navigation-height);
  left: 0;
  padding: calc(env(safe-area-inset-top) + 3vw) 0 0;
  position: fixed;
  top: 0;
  width: 100vw;
  max-width: 767px;
  z-index: 10;
  background-color: var(--primary-background-color);

  @include media.after-mobile {
    border-radius: calc(var(--header-navigation-height) / 2);
    box-sizing: border-box;
    left: 50%;
    margin: 0 auto;
    max-width: 768px;
    min-width: 375px;
    padding: 0 var(--content-padding);

    top: calc(var(--header-spacing) / 2 + var(--offline-notification-height));
    transform: translateX(-50%);
    width: calc(100vw - var(--content-padding) * 2);

    @include theme.dark-mode {
      --header-color: rgba(44, 44, 46, 0.8);
    }
  }

  nav {
    box-sizing: border-box;
    height: var(--header-navigation-height);
    margin: 0 auto;
    max-width: var(--content-max-width);
    padding: 0 var(--content-padding);
    width: 100%;
    max-width: 768px;
    min-width: 375px;

    @include media.after-mobile {
      // backdrop-filter: saturate(200%) blur(10px);
      display: grid;
      grid-column-gap: 50px;
      grid-template-columns: 1fr 1fr;
    }
  }

  &Controls {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}

.offline {
  align-items: center;
  background-color: #4b72f1;
  box-shadow: var(--shadow);
  color: #000;
  display: none;
  font-size: 15px;
  justify-content: center;
  min-height: var(--offline-notification-height);
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 768px;
  min-width: 375px;
  z-index: 10;

  @include media.mobile {
    top: var(--header-navigation-height);
  }

  &Icon {
    --icon-size: 20px;

    margin: 0 5px;
  }
}

@at-root html:global(.offline) {
  .offline {
    display: flex;
  }
}

.backBtnStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 3.5vw;
  left: 5vw;
  z-index: 20;

  &Icon {
    --icon-size: 30px;

    margin-right: 10px;
  }
}
