@mixin desktop {
  @media (min-width: 1024px) {
    max-width: 768px;
    @content;
  }
}

@mixin before-desktop {
  @media (max-width: 1023px) {
    max-width: 768px;
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1023px) and (min-width: 768px) {
    @content;
    max-width: 768px;
  }
}

@mixin after-mobile {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 767px) {
    @content;
    p {
      font-size: small;
      width: fit-content;
    }
  }
}
