@use "styles/variables/media";
@use "styles/variables/placeholder" as *;

.teams {
  margin: 0.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 1.5rem 0.5rem 1rem;
  .team {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background-color: #fff;
    .upperBox {
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .location {
        display: flex;
        align-items: center;
        justify-content: start;
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 0.2rem;
          background-color: #f3f3f3;
          margin-right: 0.5rem;
          border-radius: 4px;
          svg {
            width: 1rem;
            margin-right: 0.2rem;
          }
          p {
            margin: 0;
          }
        }
      }
    }
    .lowerBox {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      background-color: #000;
      &Left {
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-right: 1px solid #fff;
      }
      &Right {
        width: 65%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        &Content {
          display: flex;
          align-items: center;
          justify-content: center;
          div {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          &Percent {
            margin-right: 1rem;
          }
          &Total {
            width: 1rem;
            height: 1rem;
            text-align: center;
            vertical-align: middle;
            padding: auto;
            color: #fff;
            border: 1px solid #fff;
            margin-right: 0.3rem;
          }
          &Win {
            width: 1rem;
            height: 1rem;
            text-align: center;
            vertical-align: middle;
            padding: auto;
            color: rgba(38, 255, 151, 1);
            border: 1px solid rgba(38, 255, 151, 1);
            margin-right: 0.3rem;
          }
          &Draw {
            width: 1rem;
            height: 1rem;
            text-align: center;
            vertical-align: middle;
            padding: auto;
            color: rgba(192, 192, 192, 1);
            border: 1px solid rgba(192, 192, 192, 1);
            margin-right: 0.3rem;
          }
          &Lose {
            width: 1rem;
            height: 1rem;
            text-align: center;
            vertical-align: middle;
            padding: auto;
            color: rgba(241, 75, 75, 1);
            border: 1px solid rgba(241, 75, 75, 1);
          }
        }
      }
    }
  }
}
.location {
  display: flex;
  align-items: center;
  justify-content: start;
}
