@use "styles/variables/media";

.progressbar {
  position: relative;
  margin: 0 auto 10px;
  height: 7px;
  width: 100%;
  background-color: #e5e5e5;
}

.percent {
  position: absolute;
  background-color: #4b72f1;
  height: 7px;
}
