@use "styles/variables/placeholder" as animations;
@use "styles/variables/button";
@use "styles/variables/media";

.user {
  & section {
    width: 100%;
    height: 100%;
    h1,
    h2 {
      font-size: 36px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 7rem;
    }

    p {
      width: inherit;
      font-size: 14px;
      text-align: center;
    }
  }
}

.inputBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  a {
    border-bottom: 1px solid #000;
  }
}

.placeholder {
  margin: 0 0 15px;
  padding-bottom: 20%;
  @include animations.placeholder;

  &:nth-child(n + 2) {
    padding-bottom: 40%;
  }

  &:nth-child(n + 3) {
    padding-bottom: 30%;
  }
}

.kakao {
  position: absolute;
  bottom: 6rem;
  left: 0;
  right: 0;
  max-width: 390px;
  width: 100%;
  margin: 0 auto;
  padding: var(--content-padding) 0;
  text-align: center;
  a {
    @include button.default;
    --button-text-color: #000;
    --button-font-weight: 600;
    --button-background: #fbe600;
    --button-hover: #fbe600;
    --button-padding: 20px 154px;
    text-align: center;
  }
}
